
// Variables
$header-background: linear-gradient(
      rgba(161, 161, 161, 0.5),
      rgba(161, 161, 161, 0.5)
    ),
    url(fondos/background.jpg) center/cover;
$font-family-bebas: "Bebas Neue", sans-serif;
$black: black;
$gray: rgba(161, 161, 161, 0.5);
